.swiper {
  height: 48vh;
  padding: 0px 80px;
  min-width: 348px;

}


.swiper-slide{
  display: flex;
  justify-content: center;
  min-width: 348px;
  
}

.swiper-pagination{
  justify-content: center;
  display: flex;
  align-items: center;
  gap:20px
 
}

.swiper-pagination-bullet{
  padding: 8px;
  border: 1px solid #FEF9F9;
  opacity: .3;

}

.swiper-pagination-bullet-active{
  background-color: #00BB0D;
  border: none;
  scale: 1.4;
  opacity: 1;

}

.swiper-button-prev{
  color: #00BB0D;
  padding: 40px;
}

.swiper-button-next {
  color: #00BB0D;
  padding: 40px;
}



@media screen and (max-width:880px) {
  .swiper {
    width: 340px;
    padding: 0;
    margin: 0 20px;
  }
  .swiper-button-prev {
    display: none;
  }
    
  .swiper-button-next {
    display: none;
  }
}

@media screen and (max-width:580px) {
  .swiper {
    margin: 0 auto;
    padding: 0;
  }

  .swiper-pagination {
    gap: 4px
  }

  .swiper-pagination-bullet {
    padding: 4px;

  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: none;
  }
}